.header {
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.navbar {
  align-items: center;
  height: 60px;
  display: flex;
  padding-left: 50px;

  margin: 0;
  margin: auto;
}
.navbarItem {
  padding-right: 40px;
  font-size: larger;
}

.link {
  color: #84c3c8;
  text-decoration: none;
  padding-bottom: 12px;
}

.link:not(:last-child) {
  margin-right: 30px;
}

.activeLink {
  composes: link;
  color: #42929d;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 6px solid #42929d;
}
